.form-textarea {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 0.5rem;
  border-radius: 0.5rem;
  .textarea_input {
    width: 100%;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    border: none;
    resize: vertical;
    background-color: transparent;

    &:focus {
      outline: none;
    }
  } 
  .textarea_counter {
    text-align: right;
    font-size: 0.75rem;
    color: lighten(gray, 20%);
  }

  &.textarea-readonly {
    background: lighten(gray, 40%);
  }

  &.textarea-disabled {
    background: lighten(gray, 40%);
    border-color: lighten(gray, 20%);
    color: lighten(gray, 20%);
    .textarea_input {
      cursor: not-allowed;
    }
  }
  &.textarea-focused {
    outline: 1px solid #000000;
  }
}